body {
    background-color: #EEE;
    /* Deixa o bloco no centro e responsivo para o celular */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.area {
    /* Responsivo para o celular */
    width: 100%;
    max-width: 350px;

    text-align: center;
    padding: 10px;
}
.logo {
    width: 100px;
    height: auto;
}
.gray {
    color: #999999;
}
.padding {
    padding: 20px;
}
label {
    padding-top: 20px;
    padding-bottom: 20px; 
}
